body {
    font-family: sans-serif;
    background-color: #ffffff;
  }
  
  .container {
    width: 400px;
    margin: 0 auto;
  }
  
  h1 {
    font-size: 36px;
    margin-bottom: 10px;
  }
  
  h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .login-signup {
    text-align: center;
  }
  
  a {
    color: #000000;
    text-decoration: none;
  }
  